# Virtual environment
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.vscode/
